// -------------------------------------------------------------------
// :: TYPOGRAPHY TRANSFORMATION HELPERS
// -------------------------------------------------------------------

.u-text-lowercase {
	text-transform: lowercase;
}

.u-text-uppercase {
	text-transform: uppercase;
}

.u-text-capitalize {
	text-transform: capitalize;
}
