// -------------------------------------------------------------------
// :: TYPOGRAPHY WEIGHT HELPERS
// -------------------------------------------------------------------

.u-text-lighter {
	font-weight: lighter;
}

.u-text-normal {
	font-weight: normal;
}

.u-text-bold {
	font-weight: bold;
}
